.container {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 1px solid black;
    overflow: hidden;
}
.box {
    width: 80px;
    height: 80px;
    background-color: pink;
}
.containerer {
    width: 200px;
    border: 1px solid black;
}
.boxbox {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background-color: pink;
}